.app {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;

  display: flex;
  flex-direction: column;
  align-items: center;

  background: #fafafa;
}

.app > * {
  margin: 24px 24px 0 24px;
  width: calc(100% - 48px);
  max-width: 400px;
}

.app > *:last-child {
  margin-bottom: 24px;
}
